<app-reveal-animation></app-reveal-animation>

<section>
    <div class="start-bg">
        <div class="start-text">
            <h1>Movies, TV shows, and more</h1>
            <p>Watch whenever you want wherever you want</p>
            <p>Enter your email to create or restart your subscription</p>
            <form class="flex-c-c">
                <div>
                    <button mat-raised-button (click)="toSignUp()" type="button">Sign Up ></button>
                </div>
            </form>
            <div class="flex-c-c gap-64 legals">
                <a href="/privacy-policy"><p>Privacy Policy</p></a>
                <a href="/imprint"><p>Imprint</p></a>
            </div>
        </div>
    </div>
</section>