/*###############################
###
###     GLOBAL STYLES FOR LEGALS
###     BINGE HUB FRONTEND
###     BASED ON: ANGULAR 17
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

@import '../../../colors.scss';

/*
### GLOBAL STYLES
*/


.legals{
    position: fixed;
    bottom:32px;
    width: 100%;
    left:0;

    color:$text;
    cursor: pointer;

    p{
        font-size: 16px;
        padding:8px 16px;
        transition: all 250ms;
        border-radius: 20px;

        &:hover{
            background-color: $accent;
            color: $background;
            transform: scale(1.1);
        }
    }
}

/* MEDIA QUERRYS*/
@media (max-width: 720px) {
    .pad-rl-64{
        padding:0 16px;
    }

    h1{
        font-size: 26px;
    }

    p{
        font-size: 14px;
    }

    .legals p{
        font-size: 14px;
    }
}