<section>
    <header class="flex-sb-c hide over" [ngClass]="{'fade-out': fadeOut, 'overview-header': isOverviewRoute, 'default-header': !isOverviewRoute}">
        <div class="flex-fs-c" [ngClass]="{'overview-logo-text': isOverviewRoute, 'default-logo-text': !isOverviewRoute}" data-text="BINGE HUB">
            <mat-icon>play_circle</mat-icon><a href="/start"><h1>BINGE HUB</h1></a>
        </div>

        <div id="logIn" class="hide-on-mobile pad-rl-64 hide">
            <button [ngClass]="{'default-button': !isOverviewRoute}" mat-raised-button (click)="toLogin()">
                <mat-icon>login</mat-icon>Login
            </button>
        </div>

        <!-- only for small viewports-->
        <button id="logIn2" class="show-on-mobile hide" [ngClass]="{'default-button-mobile': !isOverviewRoute}" mat-raised-button (click)="toLogin()">
            <mat-icon>login</mat-icon>
        </button>

        <div id="logOut" class="pad-rl-64 hide">
            <button [ngClass]="{'overview-button': isOverviewRoute}" mat-raised-button (click)="logOut()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </header>
</section>