/*###############################
###
###     GLOBAL STYLES FOR HEADER
###     BINGE HUB FRONTEND
###     BASED ON: ANGULAR 17
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

@import '../../../colors.scss';

/*
### GLOBAL STYLES
*/

header{
    width: 100%;
    height: 100px;
    background: rgba($background, 1);
    color: $text;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    transition: all 250ms;
}

h1{
     font-size: 20px;
     line-height: 0;
}

button{
    background-color: $primary !important;
    color:$text !important;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    transition: all 250ms;
    cursor: pointer;
    &:hover{
        background-color: $accent !important;
        color: $background !important;
    }
}

mat-icon{
    font-size:30px;
    height: auto;
    width: auto;
    margin-right: 16px;
}

a{
    all:unset;
    cursor: pointer;
}

.logo-text {
    color: $text;
    border: solid 3px;
    border-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f) 1;
    padding: 8px 18px;
    margin-left: 64px;
    display: flex;
    align-items: center;

    mat-icon {
        color: $text;
    }
}

.fade-out {
    animation: fadeOutAnimation 0.5s ease forwards;
  }
  
  @keyframes fadeOutAnimation {
    0% {
      opacity: 0;
      top:-100px
    }
    100% {
      opacity: 1;
      top:0;
    }
  }

/* MEDIA QUERRYS*/
@media (max-width: 720px) {
    .pad-rl-64{
        padding:0 16px;
    }

    .logo-text{
        margin-left: 16px;
    }

    h1{
        font-size: 16px;
    }
}