<section>
    <div class="back-icon"><mat-icon (click)="stepBack()">arrow_back</mat-icon></div>
    <div class="wrapper">
        <h1>Privacy Policy</h1>
        <p class="pp-h2">The data protection declaration of JOIN is based on the terms used by the European legislator
            for the adoption of the General Data Protection Regulation (GDPR).</p>
        <p class="pp-heading">1. Data protection at a glance</p>
        <p class="pp-text"><i>General information</i></p>
        <p class="pp-text">
            The following information provides a simple overview of what happens to your personal data when you visit
            this website. Personal data
            is all data with which you can be personally identified. Detailed information on the subject of data
            protection can be found in our privacy policy listed below this text.
            data protection declaration.
        </p>
        <p class="pp-text"><i>Data collection on this website</i></p>
        <br>
        <p class="pp-text"><i>Who is responsible for data collection on this website?</i></p>
        <p class="pp-text">
            Data processing on this website is carried out by the website operator. You can find the operator's contact
            details in the "Information on the controller"
            section of this privacy policy.
        </p>
        <br>
        <p class="pp-text"><i>How do we collect your data?</i></p>
        <p class="pp-text">
            On the one hand, your data is collected when you provide it to us. This may, for example, be data that you
            enter in a contact form. Other data is collected
            automatically or with your consent by our IT systems when you visit the website. This is primarily technical
            data (e.g. internet browser, operating system or
            time of page view). This data is collected automatically as soon as you enter this website.
        </p>
        <br>
        <p class="pp-text"><i>What do we use your data for?</i></p>
        <p class="pp-text">
            Some of the data is collected to ensure that the website is provided without errors. Other data can be used
            to analyze your user behavior.
        </p>
        <br>
        <p class="pp-text"><i>What rights do you have with regard to your data?</i></p>
        <p class="pp-text">
            You have the right to receive information about the origin, recipient and purpose of your stored personal
            data free of charge at any time. You also have the
            right to request the correction or deletion of this data. If you have given your consent to data processing,
            you can revoke this consent at any time for the
            future. You also have the right to request the restriction of the processing of your personal data under
            certain circumstances. You also have the right to lodge
            a complaint with the competent supervisory authority. You can contact us at any time if you have any further
            questions on the subject of data protection.
        </p>
        <br>
        <p class="pp-text"><i>Analysis tools and tools from third-party providers</i></p>
        <p class="pp-text">
            When you visit this website, your surfing behavior may be statistically evaluated. This is mainly done with
            so-called analysis programs. Detailed information on
            these analysis programs can be found in the following privacy policy.
        </p>
        <br>
        <p class="pp-heading">2. Hosting und Content Delivery Networks (CDN)</p>
        <p class="pp-text"><i>We host the content of our website with the following provider:</i></p>
        <p class="pp-text"><i>Host Europe</i></p>
        <p class="pp-text">
            The provider is Host Europe GmbH, Hansestraße 111, 51149, Cologne (hereinafter Host Europe). When you visit
            our website, Host Europe collects various log files
            including your IP addresses. Details can be found in Host Europe's privacy policy:
            <a class="pp-link"
                href="https://www.hosteurope.de/AGB/Datenschutzerklaerung/">https://www.hosteurope.de/AGB/Datenschutzerklaerung/</a>".
            Host Europe is used on
            the basis of Art. 6 para. 1 lit. f GDPR. We have a legitimate interest in ensuring that our website is
            displayed as reliably as possible. If a corresponding consent
            has been requested, the processing is carried out exclusively on the basis of Art. 6 para. 1 lit. a GDPR and
            § 25 para. 1 TTDSG, insofar as the consent includes the
            storage of cookies or access to information in the user's terminal device (e.g. for device fingerprinting)
            within the meaning of the TTDSG. Consent can be revoked at any time.
        </p>
        <br>
        <p class="pp-text"><i>Order processing</i></p>
        <p class="pp-text">
            We have concluded a data processing agreement (DPA) for the use of the above-mentioned service. This is a
            contract prescribed by data protection law, which ensures that it processes
            the personal data of our website visitors only in accordance with our instructions and in compliance with
            the GDPR.
        </p>
        <br>
        <p class="pp-heading">3 General notes and mandatory information</p>
        <p class="pp-text"><i>Privacy policy</i></p>
        <p class="pp-text">
            The operators of these pages take the protection of your personal data very seriously. We treat your
            personal data confidentially and in accordance with the statutory data protection
            regulations and this privacy policy. When you use this website, various personal data is collected. Personal
            data is data that can be used to identify you personally. This privacy
            policy explains what data we collect and what we use it for. It also explains how and for what purpose this
            is done. We would like to point out that data transmission over the Internet
            (e.g. when communicating by email) may be subject to security vulnerabilities. Complete protection of data
            against access by third parties is not possible.
        </p>
        <br>
        <p class="pp-text"><i>Note on the responsible party</i></p>
        <p class="pp-text">
            The controller responsible for data processing on this website is: Benjamin Bennewitz, Musterstraße.123,
            41179 Mönchengladbach, Germany Phone: +49 (0) 176 12345678
            Email: benjamin.bennewitz&#64;gmail.com The controller is the natural or legal person who alone or jointly
            with others determines the purposes and means of the processing of
            personal data (e.g. names, email addresses, etc.).
        </p>
        <br>
        <p class="pp-text"><i>Storage duration</i></p>
        <p class="pp-text">
            Unless a more specific storage period has been specified in this privacy policy, your personal data will
            remain with us until the purpose for data processing no longer applies.
            If you assert a justified request for deletion or revoke your consent to data processing, your data will be
            deleted unless we have other legally permissible reasons for storing
            our personal data (e.g. retention periods under tax or commercial law); in the latter case, the deletion
            will take place after these reasons no longer apply.
        </p>
        <br>
        <p class="pp-text"><i>General information on the legal basis for data processing on this website</i></p>
        <p class="pp-text">
            If you have consented to data processing, we process your personal data on the basis of Art. 6 para. 1 lit.
            a GDPR or Art. 9 para. 2 lit. a GDPR, insofar as special categories
            of data are processed in accordance with Art. 9 para. 1 GDPR. In the event of express consent to the
            transfer of personal data to third countries, data processing is also carried
            out on the basis of Art. 49 para. 1 lit. a GDPR. If you have consented to the storage of cookies or access
            to information in your end device (e.g. via device fingerprinting), the
            data processing is also carried out on the basis of Section 25 (1) TTDSG. Consent can be revoked at any
            time. If your data is required to fulfill the contract or to carry out
            pre-contractual measures, we process your data on the basis of Art. 6 para. 1 lit. b GDPR. Furthermore, we
            process your data if this is necessary to fulfill a legal obligation
            on the basis of Art. 6 para. 1 lit. c GDPR. Data processing may also be carried out on the basis of our
            legitimate interest in accordance with Art. 6 para. 1 lit. f GDPR.
            Information on the relevant legal bases in each individual case is provided in the following paragraphs of
            this privacy policy.
        </p>
        <br>
        <p class="pp-text"><i>Data Protection Officer</i></p>
        <p class="pp-text">
            We have appointed a data protection officer. Lars Pennekamp 180° Datenschutz GmbH Hansaallee 321 40549
            Düsseldorf Phone: 0211 176 072 56 E-mail: datenschutz[at]180-datenschutz.de
        </p>
        <br>
        <p class="pp-text"><i>Note on data transfer to the USA and other third countries</i></p>
        <p class="pp-text">
            Among other things, we use tools from companies based in the USA or other third countries that are not
            secure under data protection law. If these tools are active, your personal
            data may be transferred to these third countries and processed there. We would like to point out that a
            level of data protection comparable to that in the EU cannot be guaranteed
            in these countries. For example, US companies are obliged to hand over personal data to security authorities
            without you as the data subject being able to take legal action against
            this. It can therefore not be ruled out that US authorities (e.g. secret services) may process, evaluate and
            permanently store your data on US servers for surveillance purposes.
            We have no influence on these processing activities.
        </p>
        <br>
        <p class="pp-text"><i>Revocation of your consent to data processing</i></p>
        <p class="pp-text">
            Many data processing operations are only possible with your express consent. You can withdraw your consent
            at any time. The legality of the data processing carried out until the
            revocation remains unaffected by the revocation.
        </p>
        <br>
        <p class="pp-text"><i>Right to object to the collection of data in special cases and to direct marketing (Art.
                21 GDPR)</i></p>
        <p class="pp-text">
            IF THE DATA PROCESSING IS BASED ON ART. 6 ABS. 1 LIT. E OR F GDPR, YOU HAVE THE RIGHT TO OBJECT TO THE
            PROCESSING OF YOUR PERSONAL DATA AT ANY TIME ON GROUNDS RELATING TO YOUR
            PARTICULAR SITUATION; THIS ALSO APPLIES TO PROFILING BASED ON THESE PROVISIONS. THE RESPECTIVE LEGAL BASIS
            ON WHICH PROCESSING IS BASED CAN BE FOUND IN THIS PRIVACY POLICY.
            IF YOU OBJECT, WE WILL NO LONGER PROCESS YOUR PERSONAL DATA CONCERNED UNLESS WE CAN DEMONSTRATE COMPELLING
            LEGITIMATE GROUNDS FOR THE PROCESSING WHICH OVERRIDE YOUR INTERESTS,
            RIGHTS AND FREEDOMS OR THE PROCESSING SERVES THE ESTABLISHMENT, EXERCISE OR DEFENSE OF LEGAL CLAIMS
            (OBJECTION PURSUANT TO ART. 21 PARA. 1 GDPR). IF YOUR PERSONAL DATA ARE
            PROCESSED FOR THE PURPOSE OF DIRECT MARKETING, YOU HAVE THE RIGHT TO OBJECT AT ANY TIME TO THE PROCESSING OF
            PERSONAL DATA CONCERNING YOU FOR THE PURPOSE OF SUCH MARKETING;
            THIS ALSO APPLIES TO PROFILING TO THE EXTENT THAT IT IS RELATED TO SUCH DIRECT MARKETING. IF YOU OBJECT,
            YOUR PERSONAL DATA WILL SUBSEQUENTLY NO LONGER BE USED FOR THE PURPOSE
            OF DIRECT MARKETING (OBJECTION PURSUANT TO ART. 21 PARA. 2 GDPR).
        </p>
        <br>
        <p class="pp-text"><i>Right to lodge a complaint with the competent supervisory authority</i></p>
        <p class="pp-text">
            In the event of breaches of the GDPR, data subjects have the right to lodge a complaint with a supervisory
            authority, in particular in the Member State of their habitual residence,
            place of work or place of the alleged infringement. The right to lodge a complaint is without prejudice to
            other administrative or judicial remedies.
        </p>
        <br>
        <p class="pp-text"><i>Right to data portability</i></p>
        <p class="pp-text">
            You have the right to have data that we process automatically on the basis of your consent or in fulfillment
            of a contract handed over to you or to a third party in a common,
            machine-readable format. If you request the direct transfer of the data to another controller, this will
            only be done insofar as it is technically feasible.
        </p>
        <br>
        <p class="pp-text"><i>Information, correction and deletion</i></p>
        <p class="pp-text">
            Within the framework of the applicable legal provisions, you have the right to free information about your
            stored personal data, its origin and recipients and the purpose of
            the data processing and, if necessary, a right to correction or deletion of this data at any time. You can
            contact us at any time if you have further questions on the subject
            of personal data.
        </p>
        <br>
        <p class="pp-text"><i>Right to restriction of processing</i></p>
        <p class="pp-text">
            You have the right to request the restriction of the processing of your personal data. You can contact us at
            any time to do this. The right to restriction of processing exists
            in the following cases:
        </p>
        <li class="pp-text">
            If you dispute the accuracy of your personal data stored by us, we generally need time to check this. You
            have the right to request the restriction of the processing of
            your personal data for the duration of the review.
        </li>
        <li class="pp-text">
            If the processing of your personal data was/is carried out unlawfully, you can request the restriction of
            data processing instead of erasure.
        </li>
        <li class="pp-text">
            If we no longer need your personal data, but you need it for the exercise, defense or assertion of legal
            claims, you have the right to request the restriction of the
            processing of your personal data instead of deletion.
        </li>
        <li class="pp-text">
            If you have lodged an objection pursuant to Art. 21 (1) GDPR, a balance must be struck between your
            interests and ours. As long as it has not yet been determined
            whose interests prevail, you have the right to request the restriction of the processing of your personal
            data.
        </li>
        <p class="pp-text">
            If you have restricted the processing of your personal data, this data - apart from its storage - may only
            be processed with your consent or for the establishment,
            exercise or defense of legal claims or for the protection of the rights of another natural or legal person
            or for reasons of important public interest of the European
            Union or of a Member State.
        </p>
        <br>
        <p class="pp-text"><i>SSL or TLS encryption</i></p>
        <p class="pp-text">
            This site uses SSL or TLS encryption for security reasons and to protect the transmission of confidential
            content, such as orders or inquiries that you send to us
            as the site operator. You can recognize an encrypted connection by the fact that the address line of the
            browser changes from "http://" to "https://" and by the
            lock symbol in your browser line. If SSL or TLS encryption is activated, the data you transmit to us cannot
            be read by third parties.
        </p>
    </div>
</section>