<section>
    <div class="login-bg">
        <form [formGroup]="resetForm" (ngSubmit)="redirect()">
            <div class="back-icon"><mat-icon (click)="stepBack()">arrow_back</mat-icon></div>
            <h1>New Password</h1>
            <div>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required minlength="6" maxlength="18"
                        name="password">
                    <mat-error *ngIf="resetForm.get('password')?.invalid">
                        <span *ngIf="resetForm.get('password')?.errors?.['required']">Password is required.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password confirm</mat-label>
                    <input matInput formControlName="password2" type="password" required minlength="6" maxlength="18"
                        name="password2">
                    <mat-error *ngIf="resetForm.get('password2')?.invalid">
                        <span *ngIf="resetForm.get('password2')?.errors?.['required']">Password confirmation is
                            required.</span>
                        <span *ngIf="resetForm.get('password2')?.value !== resetForm.get('password')?.value">Passwords
                            do not match.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex-c-c gap-64">
                <button mat-button [disabled]="resetForm.invalid">
                    <mat-icon>lock</mat-icon> Confirm
                </button>
            </div>
        </form>

        <div class="flex-c-c gap-64 legals">
            <p (click)="toPP()">Privacy Policy</p>
            <p (click)="toImprint()">Imprint</p>
        </div>
    </div>
</section>