<section>
    <div class="login-bg">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="back-icon"><mat-icon (click)="stepBack()">arrow_back</mat-icon></div>
            <h1>Login</h1>
            <div>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" type="text" required name="username">
                    <mat-error
                        *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                        <span *ngIf="loginForm.get('username')?.errors?.['required']">username is required.</span>
                        <span *ngIf="loginForm.get('username')?.errors?.['email']">Please enter a valid username.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required minlength="6" maxlength="18" name="password">
                    <mat-error
                        *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                        <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
                        <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</span>
                        <span *ngIf="loginForm.get('password')?.errors?.['maxlength']">Password cannot be more than 18 characters long.</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="pass-reset"><a (click)="passReset()">Password reset</a></div>
            <div class="flex-c-c gap-64">
                <button mat-button [disabled]="loginForm.invalid">
                    <mat-icon>login</mat-icon> Log In
                </button>
            </div>
        </form>
        <div class="flex-c-c gap-64 legals">
            <a href="/privacy-policy"><p>Privacy Policy</p></a>
            <a href="/imprint"><p>Imprint</p></a>
        </div>
    </div>
</section>