/*###############################
###
###     GLOBAL STYLES FOR LOGIN
###     BINGE HUB FRONTEND
###     BASED ON: ANGULAR 17
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
### GLOBAL STYLES
*/

@import '../../../colors.scss';

section {
    background-image: url(../../../assets/img/login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
}

.login-bg {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba($background, $alpha: 0.8);
}

form {
    h1 {
        font-size: 30px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $background;
    color: $text;

    padding:32px;
    border-radius: 20px;

    height: fit-content;
    width: 350px;

    button {
        background-color: $primary !important;
        color: $text !important;
        border-radius: 20px;
        width: 180px;
        height: 50px;
        margin: 32px 0;
        transition: all 250ms;
        cursor: pointer;

        &:hover {
            background-color: $accent !important;
            color: $background !important;
        }
    }

    button[disabled] {
        opacity: 0.5;
    }

    mat-label {
        color: $text;
    }

    input {
        color: $text !important;
    }
}

.back-icon {
    width: 100%;
    transition: all 250ms;

    display: flex;
    justify-content: flex-start;

    mat-icon {
        transition: all 250ms;
        padding: 8px;

        &:hover {
            background-color: $accent;
            transform: scale(1.1);
            color: $background;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}

/* MEDIA QUERRYS*/
@media (max-width: 720px) {
    h1 {
        font-size: 26px;
    }

    p {
        font-size: 14px;
    }

    form {
        padding:8px 16px;
        max-width: 95% !important;
    }

    input {
        max-width: 80% !important;
    }

    .login-bg{
        padding: 0 16px;
    }
}