/*###############################
###
###     GLOBAL STYLES FOR OVERVIEW
###     BINGE HUB FRONTEND
###     BASED ON: ANGULAR 17
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

@import '../../../colors.scss';

/*
### GLOBAL STYLES
*/

section {
    background-color: $background;
    width: 100%;

    display: flex;
    flex-direction: column;

    height: 100vh;
}

.wrapper{
    overflow-x: hidden !important;
    overflow-y: auto !important;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 50px;
    line-height: 1;
}

h2, h3, h4, h5{
    font-size: 24px;
    line-height: 2;
    color: $text;
}

p {
    line-height: 1.3;
    font-size: 20px;
}

button {
    background-color: $primary !important;
    color: $text !important;
    border-radius: 20px;
    width: 180px;
    height: 50px;
    margin: 32px 0;
    transition: all 250ms;
    cursor: pointer;

    &:hover {
        background-color: $accent !important;
        color: $background !important;
    }
}

.overview-bg {
    width: 100%;
}

.background-video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    #background-video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }

.preview-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 0 64px;

    color: $text;

    width: 500px;
    height: 800px;
    border-radius: 0 500px 500px 0;
    transition: all 350ms;

    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

    &:hover{
        background: linear-gradient(to left, $background 97%, $accent 3%);
        border-radius: 0 0 0 0;
    }
}

.media-bar{
    display: flex;
    flex-direction: column;
    padding:0 0 0 64px;
    width: 100vw;
}

.media-thumbs-container {
    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    gap: 32px;
    cursor: grab;
    width: 100vw;
    overflow-x: auto;
    scrollbar-width: none;
  
    height: 300px;
    
    img {
      max-width: 100%;
      height: 100%;
      transition: all ease-in 250ms;
      object-fit: cover;
  
      &:hover {
        opacity: 0.6;
        transform: scale(1.05);
      }
    }
  
    img:last-child {
      margin-right: 100px;
    }
  }
  

.thumbs-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 250ms;
}

/* MEDIA QUERRYS*/
@media (max-width: 720px) {
    h1 {
        font-size: 26px;
    }

    h2, h3, h4, h5{
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    .pad-rl-64 {
        padding: 0 16px;
    }

    .preview-text{
        padding:0 32px;
        width: 90%;
    }

    .media-bar{
        padding:0 16px;
    }

    .this-is-new{
        gap: 24px;
    
        img{
            width: 34%;
            height: auto;
        }
    }

    button {
        border-radius: 20px;
        width: 120px;
        height: 40px;
    }
}