<section>
    <div class="wrapper">
        <div class="overview-bg">
            <div class="background-video-container">
                <video autoplay muted loop id="background-video">
                    <source draggable="false" src="{{ currentVideo }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="preview-text">
                    <h1>{{ currentTitle }}</h1>
                    <p>{{ currentDescription }}</p>
                    <div class="flex-c-c gap-64">
                        <button mat-button (click)="playVideo()"><mat-icon>play_arrow</mat-icon> PLAY</button>
                    </div>
                </div>
            </div>
        </div>        

        <div class="media-bar">
            <h2>New on BINGE HUB</h2>
            <div class="media-thumbs-container">
                <ng-container *ngFor="let video of newVideos">
                    <img 
                        draggable="false" 
                        [src]="video.thumbnail"
                        (click)="setVideo(video)" 
                        [alt]="video.title"
                    >
                </ng-container>
            </div>
        </div>
        
        <div class="media-bar">
            <h3>Documentary</h3>
            <div class="media-thumbs-container">
                <ng-container *ngFor="let video of documentaryVideos">
                    <img 
                        draggable="false" 
                        [src]="video.thumbnail"
                        (click)="setVideo(video)" 
                        [alt]="video.title"
                    >
                </ng-container>
            </div>
        </div>

        <div class="media-bar">
            <h4>Drama</h4>
            <div class="media-thumbs-container">
                <ng-container *ngFor="let video of dramaVideos">
                    <img 
                        draggable="false" 
                        [src]="video.thumbnail"
                        (click)="setVideo(video)" 
                        [alt]="video.title"
                    >
                </ng-container>
            </div>
        </div>

        <div class="media-bar">
            <h4>Romance</h4>
            <div class="media-thumbs-container">
                <ng-container *ngFor="let video of romanceVideos">
                    <img 
                        draggable="false" 
                        [src]="video.thumbnail"
                        (click)="setVideo(video)" 
                        [alt]="video.title"
                    >
                </ng-container>
            </div>
        </div>

        <div class="media-bar">
            <h4>Crime</h4>
            <div class="media-thumbs-container">
                <ng-container *ngFor="let video of crimeVideos">
                    <img 
                        draggable="false" 
                        [src]="video.thumbnail"
                        (click)="setVideo(video)" 
                        [alt]="video.title"
                    >
                </ng-container>
            </div>
        </div>
    </div>
</section>