/*###############################
###
###     GLOBAL COLORS
###     BINGE HUB FRONTEND
###     BASED ON: ANGULAR 17
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

$primary: #2327ab;
$secondary: #f3f3f3;
$background: #070f27;
$text: #f3f3f3;
$link: #ff232e;
$accent: yellow;