/*###############################
###
###     GLOBAL STYLES
###     BINGE HUB FRONTEND
###     BASED ON: ANGULAR 17
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
### GLOBAL STYLES
*/

@import 'colors.scss';

* {
    border: none;
}

html,
body {
    height: 100%;
   //overflow:  hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $background;
}

mat-form-field {
    width: 100%;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    left: 0
}

mat-drawer-content {
    overflow-x: hidden !important;
}

/*
### DEFAULT STYLES
*/

.flex-sb-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-fs-c{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-16{
    gap:16px;
}

.gap-64{
    gap:64px;
}

.pad-rl-64{
    padding:0 64px;
}

.mr-b-120{
    margin-bottom: 120px;;
}

.hide{
    display: none;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
    border: 1.5px solid transparent !important; /* Dies ist notwendig, um den Rahmen sichtbar zu machen */
    border-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f) 1 !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: $accent !important;
}

.mat-mdc-snack-bar-label.mdc-snackbar__label{
    color:$background !important;
}

/* Spinner styles */
.costum-spinner::ng-deep circle{
    stroke: $primary !important;
    width: 50px;
    height: auto;
}

/* TOOLTIP STYLES */
.cdk-overlay-container .mat-mdc-tooltip {
    --mdc-plain-tooltip-container-color: yellow;
    --mdc-plain-tooltip-supporting-text-color: #070f27;
    --mdc-plain-tooltip-container-shape: 4px;
    --mdc-plain-tooltip-supporting-text-line-height: 22px;
    --mdc-plain-tooltip-supporting-text-size: 14px;
    --mdc-plain-tooltip-supporting-text-weight: 900;
    --mdc-tooltip-word-break: normal;
  }

/* STYLES FOR SCROLLBARS */
/* Chrome specific styles */
.chrome{
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 50px $accent; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: $primary; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgba($primary, 0.7); 
    }
}

/* Firefox specific styles */
.firefox {
    scrollbar-color: $primary $accent; 
    * {
        scrollbar-width: thin;
    }
}