/*###############################
###
###     GLOBAL STYLES
###     BINGE HUB FRONTEND
###     BASED ON: ANGULAR 17
###     AUTHOR: Benjamin Benenwitz
###
###
***       ██████╗  ▀█
***       ██╔══██╗ █▄
***       ██████╦╝
***       ██╔══██╗
***       ██████╦╝
***       ╚═════╝
###
###
#################################*/

/*
### GLOBAL STYLES
*/

@import 'colors.scss';

* {
    border: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $background;
}

mat-form-field {
    width: 100%;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    left: 0
}

mat-drawer-content {
    overflow-x: hidden !important;
}

/*
### DEFAULT STYLES
*/

.flex-sb-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-fs-c{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-16{
    gap:16px;
}

.gap-64{
    gap:64px;
}

.pad-rl-64{
    padding:0 64px;
}

.hide{
    display: none;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
    border: 1.5px solid transparent !important; /* Dies ist notwendig, um den Rahmen sichtbar zu machen */
    border-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f) 1 !important;
}